<div class="card card_container">
    <div class="card-body">
            <%= form_with(model: @category, local: true) do |f| %>
            <div class="mb-3">
                <strong><%= f.label :name, class: "form-label" %></strong><br/> 
                <%= f.text_field :name, class: "form-control", id: "form-title"  %>
            </div>
                <%= f.submit class: "btn btn-primary"%> 
                <%= link_to 'Cancel', articles_path, class: "btn btn-danger"%>
            <% end %>
        </div>
    </div>